;; Note the identifier for each good must be unique!
;; Will throw exceptions if not
{:power {;; The readable name of the good or resource
         :title "Electricity"
         ;; An optional longer description
         :description "Electricity for powering all the things."
         ;; If true, this good can't be traded between inids.
         :nonTradeable? false
         ;; If true, this good can't be moved from the region it's in, but can still be traded. Ignored if nonTradeable? is true.
         :nonMoveable? false
         ;; How hard this good is to move per unit. The higher, the harder. Ignored if nonMoveable? is ture
         :bulkiness 0.01
         ;; If exists, is the chance from 0 to 1 that this good is generated in every region
         :genChance 0
         ;; If genenerated, this is the max amount of the resource that appears in the region
         ;; The amount generated will be between 1 and the genAmount upper limit in a uniform distribution
         ;; Ignored if genChance is 0 or doesn't exist
         :genAmount 0
         ;; If true, the tech level for this good isn't factored into reactions
         :noTechLevel true
         }
 ;; Note that labour is a special item that must be included
 :labour {:title "Labour"
          :description "Manual labour"
          }
 :arableLand {:title "Arable Land"
              :description "Fertile, but not developed land."
              :nonMoveable true
              :genChance 0.6
              :genAmount 100
              :noTechLevel true
              }
 :farmLand {:title "Farmland"
            :description "Fertile land prepared for farming"
            :nonMoveable true
            }
 :buildableSpace {:title "Buildable Land"
                  :nonMoveable true
                  :genChance 1
                  :genAmount 300
                  :noTechLevel true
                  }
 :food {:title "Food"
        :description "Delicious and Nutritious food to keep Inids happy"
        }
 }
